.MuiContainer-maxWidthXl {
  background-color: black;
  padding-left: 10%;
  position: fixed;
  /* not working */
  transition-timing-function: ease-in;
  transition: 1s;
}

.MuiTypography-h1 {
  color: rgb(78, 200, 176);
  font-family: Calibri;
  font: bold;
  font-size: 8vw;
}
